@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.background {
  background: darkslategray;
  width: 100%;
  height: 500px;
  box-shadow: white;
  display: flex;
  z-index: 10;
}

.container-shop-name {
  margin-top: 150px;
  margin-left: 5%;
  margin-bottom: 50px;
  width: 50%;
}
nav {
  position: fixed;
  width: 100%;
  background: honeydew;
  z-index: 20;
}
nav li {
  display: block;
  float: right;
  padding: 5px;
  color: #484848;
  margin-right: 50px;
  margin-top: 15px;
  font-family: "Dongle", sans-serif;
  font-size: 30px;
  cursor: pointer;
}
.li-about-us {
  color: darkseagreen;
}
li:hover {
  color: darkseagreen;
}

#wrapper-img {
  position: relative;
  width: 50%;
}
#food {
  margin-top: -50px;
  margin-left: 15%;
  width: 350px;
}

h1 {
  color: white;
  font-family: "DM Serif Display", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 27px !important;
}

.des {
  font-family: "Dongle", sans-serif;
  color: burlywood;
  font-size: 35px;
}
button {
  background: transparent;
  border: floralwhite solid 2px;
  border-radius: 2px;
  padding: 8px;
  color: #fdfafa;
  margin-top: 30px !important;
}
button:hover {
  transform: scale(1.1);
  transition: 0.2s;
  cursor: pointer;
}

.about-us {
  background: antiquewhite;
  padding: 20px 70px 20px 70px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2em;
}
.img-about-us1 img {
  max-width: 100%;
  border-radius: 5px;
}
.addition-img img {
  max-width: 100%;
  border-radius: 5px;
}
p {
  font-family: "Dongle", sans-serif;
  font-size: 25px;
  text-transform: capitalize;
  color: gray;
}
h2 {
  font-family: "DM Serif Display", serif;
  padding-top: 50px;
  padding-bottom: 20px;
}
h3 {
  color: #b73838;
  letter-spacing: 2px;
  font-family: "DM Serif Display", serif;
  text-transform: capitalize;
}

/*Menu*/

.grid-menu {
  background: darkslategray;
  padding: 70px 70px 20px 70px;
  position: relative;
  z-index: -1;
}

h4 {
  font-family: "Zen Kurenaido", sans-serif;
  color: #fffbfb;
  letter-spacing: 3px;
  font-size: 15px;
}

.menu-content p {
  color: rgb(255, 245, 155);
}
.menu-content {
  margin: 50px 50px 50px 50px;
  text-align: center;
  position: relative;
}
.container-menu {
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2);
  margin: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

i {
  background-image: linear-gradient(to bottom, green, red);
  -webkit-text-fill-color: transparent;
  font-size: 25px;
}
.spicyness-level {
  text-align: center;
}
h5 {
  color: #fffbfb;
  font-family: "DM Serif Display", serif;
  text-align: center;
  letter-spacing: 3px;
  border: double darkseagreen 3px;
  padding: 8px;
  text-transform: uppercase;
}

/*Location*/
.location-background {
  background-size: cover;
  width: 100%;
  object-fit: cover;
  object-position: center;
  background: antiquewhite;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
h6 {
  color: black;
  font-family: "DM Serif Display", serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 50px 90px 0 90px;
}
h6:before,
h6:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
h6:before {
  margin-right: 10px;
}
h6:after {
  margin-left: 10px;
}

.grid-location {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px !important;
  margin-top: 30px;
}
article {
  margin: 10px 0 20px 0;
}

.direction article,
.open-hour,
.direction-content,
.map {
  margin-left: 90px;
}

article {
  font-family: "DM Serif Display", serif;
  font-size: 20px;
  color: #b73838;
  text-transform: capitalize;
}
.open-hour-content {
  display: flex;
  margin-top: 20px;
}
.open-time,
.cycle-content,
.bus-content {
  margin-left: 20px;
}
.cycle,
.bus {
  display: flex;
}
.fa-clock,
.fa-bicycle,
.fa-bus {
  -webkit-text-fill-color: black;
}
iframe {
  max-width: 100%;
}

.spacer {
  aspect-ratio: 896/450;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.layer1 {
  background-image: url("../images/layered-waves-haikei.svg");
}
.footer-shop-name,
.phone-number,
.email-address {
  color: whitesmoke;
  text-align: center;
}
.contact-us {
  padding-top: 50px;
}
.phone,
.email {
  display: flex;
  justify-content: center;
  text-align: center;
}
.phone-number,
.email-address {
  margin-left: 20px;
}
.fa-envelope-square,
.fa-phone-volume {
  -webkit-text-fill-color: honeydew;
}

@media screen and (max-width: 675px) {
  .direction article,
  .open-hour,
  .direction-content,
  .map {
    margin-left: 25px;
  }

  h4 {
    font-size: 14px !important;
  }
  iframe {
    width: 95%;
  }
  h6 {
    font-size: 20px !important;
    padding: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .grid-menu {
    padding: 50px 0px 50px 0px;
  }
  .container-menu {
    margin: 10px !important;
  }
  .menu-content {
    margin: 20px !important;
  }
  .background {
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 10;
  }
  .container-shop-name {
    width: 90%;
    text-align: center;
    position: relative;
  }

  #wrapper-img {
    position: absolute;
    width: 90%;
    top: 10px;
    left: 18%;
    opacity: 0.4;
    z-index: -2;
  }

  .container-menu {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 2 rem;
  }
  .grid-location {
    grid-template-columns: 1fr;
  }
  .location-content {
    text-align: left;
    margin-left: 90px;
  }
  iframe {
    margin: 20px 0 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .about-us {
    padding: 20px;
  }
  ul {
    display: flex;
    flex-direction: row-reverse;
    float: left;
  }
  li {
    font-size: 20px !important;
    margin-left: 0px;
  }
}
